<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<servlet>
		<servlet-name>SimpleCaptcha</servlet-name>
		<servlet-class>com.google.code.kaptcha.servlet.SimpleCaptcha</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Captcha</servlet-name>
		<servlet-class>com.google.code.kaptcha.servlet.CaptchaServlet</servlet-class>

		<!--border around captcha. Legal values are yes or no. Defaults to yes Other values will be ignored-->
		<init-param>
			<param-name>cap.border</param-name>
			<param-value>yes</param-value>
		</init-param>
		<!--color of the border. Legal values are r,g,b(and optional alpaha) or white,black,etc. Other values will be ignored-->
		<init-param>
			<param-name>cap.border.c</param-name>
			<param-value>black</param-value>
		</init-param>
		<!--thickness of the border around captcha. Legal values are > 0 other values will be ignored. Defaults to one-->
		<init-param>
			<param-name>cap.border.th</param-name>
			<param-value>1</param-value>
		</init-param>

		<init-param>
			<param-name>cap.obscurificator</param-name>
			<!--<param-value>nl.captcha.obscurity.imp.ShadowGimpyImp</param-value>-->
			<!--<param-value>nl.captcha.obscurity.imp.WaterRiple</param-value>-->
			<param-value>com.google.code.kaptcha.sandbox.TestGimpyImp</param-value>
		</init-param>

		<init-param>
			<param-name>cap.cap.producer</param-name>
			<param-value>com.google.code.kaptcha.servlet.DefaultCaptchaIml</param-value>
		</init-param>

		<init-param>
			<param-name>cap.word.imp</param-name>
			<param-value>com.google.code.kaptcha.text.imp.DefaultWordRenderer</param-value>
		</init-param>

		<init-param>
			<param-name>cap.text.producer</param-name>
			<!--<param-value>com.google.code.kaptcha.sandbox.ChineseTextProducer</param-value>-->
			<param-value>com.google.code.kaptcha.text.FiveLetterFirstNameTextCreator</param-value>
		</init-param>

		<init-param>
			<param-name>cap.char.arr</param-name>
			<param-value>2,3,4,6,7,8,a,b,c,d,e,f,g,h,k,o,r,s,t,x,y</param-value>
		</init-param>

		<!--if default captcha producer is selected, this value represents the amount of chars 
			that are supplied in the captcha. values below 2 are not exepted when omitted defaults to 5-->
		<init-param>
			<param-name>cap.char.arr.l</param-name>
			<param-value>6</param-value>
		</init-param>

		<init-param>
			<param-name>cap.font.arr</param-name>
			<param-value>Arial,Helvetica,Courier,TimesRoman</param-value>
		</init-param>

		<init-param>
			<param-name>cap.font.size</param-name>
			<param-value>40</param-value>
		</init-param>

		<init-param>
			<param-name>cap.font.color</param-name>
			<param-value>166,31,255</param-value>
		</init-param>

		<init-param>
			<param-name>cap.bg.imp</param-name>
			<param-value>com.google.code.kaptcha.DefaultBackgroundImp</param-value>
		</init-param>

		<!--values can be either red,yellow,blue,cya etc or r,g,b,alpha value-->
		<init-param>
			<param-name>cap.background.c.to</param-name>
			<param-value>255,255,255</param-value>
		</init-param>

		<init-param>
			<param-name>cap.background.c.from</param-name>
			<param-value>75,75,255</param-value>
		</init-param>

		<init-param>
			<param-name>cap.noise.imp</param-name>
			<param-value>com.google.code.kaptcha.impl.DefaultNoiseImp</param-value>
		</init-param>

		<init-param>
			<param-name>cap.noise.c</param-name>
			<param-value>166,31,255</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SimpleCaptcha</servlet-name>
		<url-pattern>/SimpleCaptcha.jpg</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Captcha</servlet-name>
		<url-pattern>/Captcha.jpg</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>SimpleCapchaExample.jsp</welcome-file>
	</welcome-file-list>
</web-app>
